:root{
    color: #0d0d48;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span{
    color: #0d0d48;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #d28731;
    color: #ffffff;
    padding: 3.5rem 9rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background-color: #d4a6ee;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #ffffff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: #0d0d48;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: #0d0d48;
}

header .Icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .Icons a:hover{
    color: #6a6abd;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0,0,0.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(task2/assessts/Images/cat2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .Content{
    max-width: 50rem;
}

.home .Content h3{
    font-size: 6rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .Content span{
    font-size: 3.5rem;
    color: var(#ffffff);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .Content span{
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .Content p{
    color: #fff;
    font-size: x-small;
    line-height: 1;
}

.About .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.About .row .Video-container{
    flex: 1 1 40rem;
    position: relative;
}

.About .row .Video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.About .row .Video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.About .row .content{
    flex: 1 1 40rem;
}

.About .row .content h3{
    font-size: 3rem;
    color: #333;
}

.About .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .Icons{
    background: #fff;
    border: 1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .Icons img{
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .Icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .Icons span{
    color: #555;
    font-size: 1.3rem;
}






















































































/*media*/
@media (max-width: 991px){
    html{
        font-size:55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}

@media (max-width:768px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #eee;
        border-top: 1rem solid rgba(0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 1rem solid rgba(0,0,0.1);
        display: block;
    }

    .home .Content h3{
        font-size: 5rem;
    }

    .home .Content span{
        font-size: 2.5rem;
    }

    .icons-container .Icons h3{
        font-size: 2rem;
    }

    .icons-container .Icons span{
        font-size: 1.7rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}